{% if campaign.is_update_ok %}
<form class="editform" action="{% url 'ecbapp-campaign-updatestats' pk=campaign.pk %}" method="post">{% csrf_token %}
  <input type="hidden" name="updatestats" value="True" >
  <input type="hidden" name="next" value="{{ request.get_full_path }}" >
  <button class="btn btn-xs btn-default" type="submit"><span class="glyphicon glyphicon-refresh"></span></button>
</form>
{% endif %}
{% if campaign.status == '0' or  campaign.status == '1' or campaign.status == '3' or campaign.status == '4' %}
  <form class="editform" action="{% url 'ecbapp-campaign-edit-status' pk=campaign.pk %}" method="post">{% csrf_token %}
    <input type="hidden" name="status" value="{% if campaign.status == '0' %}4{% endif %}{% if campaign.status == '3' %}1{% endif %}{% if campaign.status == '1' %}3{% endif %}{% if campaign.status == '4' %}0{% endif %}" >
    <input type="hidden" name="next" value="{{ request.get_full_path }}" >
    <button class="btn btn-{% if campaign.status == '0' or campaign.status == '3' %}play{% endif %}{% if campaign.status == '1' %}pause{% endif %}{% if campaign.status == '4' %}waiting{% endif %} btn-xs" type="submit"><span class="glyphicon glyphicon-{% if campaign.status == '0' or campaign.status == '3' %}play{% endif %}{% if campaign.status == '1' %}pause{% endif %}{% if campaign.status == '4' %}stop{% endif %}"></span></button>
  </form>
{% endif %}
<a class="btn btn-xs btn-primary" href="{% url 'ecbapp-campaign-update' pk=campaign.pk %}" ><span class="glyphicon glyphicon-edit"></span></a>
<a class="btn btn-xs btn-primary" href="{% url 'ecbapp-campaign-duplicate' pk=campaign.pk %}"><span class="fa fa-copy"></span></a>
<a class="btn btn-xs btn-danger" href="{% url 'ecbapp-campaign-delete' pk=campaign.pk %}" ><span class="glyphicon glyphicon-trash"></span></a>
