{% if campaign.status == '0' %}<span class="glyphicon glyphicon-stop glyphline statusstop"></span>{% endif %}
{% if campaign.status == '1' %}<span class="glyphicon glyphicon-play glyphline statusok"></span>{% endif %}
{% if campaign.status == '2' %}<span class="glyphicon glyphicon-ok glyphline statusstop"></span><hr />{{ campaign.date_ended|date:'d b H:i' }}{% endif %}
{% if campaign.status == '3' %}<span class="glyphicon glyphicon-pause glyphline statuspause"></span>{% endif %}
{% if campaign.status == '4' %}<span class="glyphicon glyphicon-hourglass glyphline statuswaiting"></span>{% endif %}
