# -*- coding: UTF-8 -*-

SITE_ID = 1

# ---
# ECB
# ---
from settings_defaults import *

# --------
# TIMEZONE
# --------
TIME_ZONE = 'Europe/Paris'

# --------
# SECURITY
# --------
#SESSION_COOKIE_SECURE = True
#CSRF_COOKIE_SECURE = True
SECRET_KEY = '{{ ecb_secret_key }}'
ALLOWED_HOSTS = ['*']

# -----
# DEBUG
# -----
DEBUG = False
ADMINS = (
    ('NETADMIN', '{{ ecb_admin_email }}'),
)

# ------
# MINIFY
# ------
HTML_MINIFY = True
KEEP_COMMENTS_ON_MINIFYING = True
COMPRESS_ENABLED = False

# --------
# Database
# --------
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        'NAME': 'ecb',
        'USER': 'ecb',
        'PASSWORD': '{{ ecb_db_password }}',
        'HOST': '',
        'PORT': '',
        'OPTIONS': {
            'init_command': "SET storage_engine=INNODB; SET sql_mode='STRICT_TRANS_TABLES'",
        },
    }
}

# -----
# EMAIL
# -----
EMAIL_FROM_ADDR = 'nobody@{{ ansible_fqdn }}'
EMAIL_NAME_ADDR = 'Nobody'
SERVER_EMAIL = 'django@{{ ansible_fqdn }}'

# --------------------
# Chemins de recherche
# --------------------
# Static files (CSS, JavaScript, Images)
STATIC_ROOT = '/var/www/ecb/web/static/'
STATIC_URL = '/static/'

MEDIA_ROOT = '/var/www/ecb/web/media/'
MEDIA_URL = 'https://{{ ecb_hostname }}/media/'

PRIVATE_ROOT = '/var/www/ecb/web/private/documents/'

# ------
# SYSTEM
# ------
LOGGING = {
    'version': 1,
    'disable_existing_loggers': False,
    'filters': {
        'require_debug_false': {
            '()': 'django.utils.log.RequireDebugFalse'
        }
    },
    'formatters': {
        'verbose': {
            'format' : "[%(asctime)s] %(levelname)s [%(name)s:%(lineno)s] %(message)s",
            'datefmt' : "%d/%b/%Y %H:%M:%S"
        },
        'simple': {
            'format': '%(levelname)s %(message)s'
        },
    },
    'handlers': {
        'mail_admins': {
            'level': 'ERROR',
            'filters': ['require_debug_false'],
            'class': 'django.utils.log.AdminEmailHandler'
        },
        'file': {
            'level': 'DEBUG',
            'class': 'logging.handlers.WatchedFileHandler',
            'filename': '/var/www/ecb/private/log/django.log',
            'formatter': 'verbose'
        },
        'ecb': {
            'level': 'DEBUG',
            'class': 'logging.handlers.WatchedFileHandler',
            'filename': '/var/www/ecb/private/log/ecb.log',
            'formatter': 'verbose'
        },
    },
    'loggers': {
        'django.request': {
            'handlers': ['file','mail_admins'],
            'level': 'WARNING',
            'propagate': True,
        },
        'ecbapp.management.commands.messages-spool-scan': {
            'handlers': ['file','mail_admins'],
            'level': 'ERROR',
            'propagate': False,
        },
        'ecbapp.management.commands.messages-spool-scan.process_spool': {
            'handlers': ['file','mail_admins'],
            'level': 'ERROR',
            'propagate': False,
        },
        'ecbapp.lib.smtp': {
            'handlers': ['ecb', 'mail_admins'],
            'level': 'WARNING',
            'propagate': False,
        },
        'django': {
            'handlers': ['file','mail_admins'],
            'level': 'ERROR',
            'propagate': False,
        },
    }
}

# ---
# ECB
# ---
ECB_NOTIFICATIONS = ('{{ ecb_admin_email }}', '{{ ecb_client_email }}')
ECB_SPOOL_DELETE = 90 # efface l'historique des > XX jours, le recalcul des stats est désactivé un peu avant
ECB_SPOOLLOG_LEVEL_NB = 5
ECB_ROUTINGLOG_DELETE = 30
ECB_SPOOLLOG_DELETE = 30
ECB_SPOOLLOG_RANGE = 1 # nombre de minutes de chaque range à analyser dans spoollog
ECB_SPOOL_DIR = '/var/www/ecb/spool/'
ECB_MEASURE_DIR = '/var/www/ecb/munin/'
ECB_PAGINATE_BY = 20
# le timeout broker doit être inférieur au timeout du cache django
ECB_SPOOL_DIR_DJANGO_CACHE_TIMEOUT = 400
ECB_SPOOL_DIR_BROKER_TIMEOUT = 300
ECB_SPOOL_DIR_BROKER_CACHED = 3600
ECB_ROTATION_GROUP_RUNING_TIME = 12
ECB_BOUNCE_NOEMAIL_LIMIT = -1
ECB_SMTP_LIMIT = 3000
ECB_MAILTESTER_PREFIX = '{{ ecb_mailtester_prefix }}'
ECB_DNS_NAMESERVERS = ['8.8.8.8']
ECB_SPOOL_UNSUB_SECRET = '{{ ecb_spool_unsub_secret }}'
ECB_SPOOL_UNSUB_NEXT_URL = 'https://{{ ecb_next_url }}'
ECB_SPOOL_UNSUB_REDIRECT = False
from settings_installed_apps import *

# ---------
# Q_CLUSTER 14 x 60 -> 840 mails / minutes
# ---------
Q_CLUSTER = {
    'workers': {{ ecb_workers }},
    'log_level': 'ERROR',
}

# --------
# ENVELOPE
# --------
ENVELOPE_FROM_EMAIL = EMAIL_FROM_ADDR
ENVELOPE_EMAIL_RECIPIENTS = ('{{ ecb_email_to }}',)

# ------
# GLESYS
# ------
GLESYS_USERNAME = '{{ ecb_glesys_username }}'
GLESYS_KEY = '{{ ecb_glesys_key }}'
GLESYS_URL = 'https://api.glesys.com'

# -----------
# FIRSTHEBERG
# -----------
FH_URL = 'https://api.firstheberg.com'
FH_LOGIN = '{{ firstheberg_login }}'
FH_TOKEN = '{{ firstheberg_token }}'

# --------------
# AWS SES - SMTP
# --------------
AWS_SES_hostname = 'email-smtp.eu-west-1.amazonaws.com'
AWS_SES_username = '{{ aws_ses_username }}'
AWS_SES_password = '{{ aws_ses_password }}'

AWS_ACCESS_KEY_ID = '{{ aws_access_key_id }}'
AWS_SECRET_ACCESS_KEY = '{{ aws_access_key_secret }}'
AWS_REGION = 'eu-west-1'

ROUTAGE_TEST = '{{ routage_test }}'

# -----------
# HETRIXTOOLS
# -----------
HETRIXTOOLS = True
HETRIXTOOLS_API_URL = 'https://api.hetrixtools.com'
HETRIXTOOLS_API_KEY = '{{ hetrixtools_api_key }}'
HETRIXTOOLS_API_DEFAULT_CONTACT_ID = '{{ hetrixtools_api_default_contact_id }}'
HETRIXTOOLS_LABEL = '{{ hetrixtools_label }}'

# ----------
# MAILTESTER
# ----------
MAILTESTER_USERNAME = '{{ mailtester_username }}'
MAILTESTER_KEY = '{{ mailtester_key }}'

# ----
# LAAS
# ----
LAAS_HOST = 'gra2.logs.ovh.com'
LAAS_ENDPOINT = '/api'
LAAS_USERNAME = '{{ ecb_ovh_laas_username }}'
LAAS_PORT = 443
LAAS_STREAM = '{{ ecb_ovh_lass_stream_id }}'
LAAS_PASSWORD = '{{ ecb_ovh_laas_password }}'
LAAS_CACHE = 3600
LAAS_LIMIT = 10000

# --------------------
# OVH (pour les WebIPs
# --------------------
WEBIP_OVH_ENDPOINT = 'ovh-eu'
WEBIP_OVH_AK = '{{ ecb_ovh_api_ak }}'
WEBIP_OVH_SECRET = '{{ ecb_ovh_api_secret }}'
WEBIP_OVH_CK = '{{ ecb_ovh_api_ck }}'
WEBIP_OVH_SERVICENAME = '{{ ecb_ovh_project_id }}'
WEBIP_OVH_INSTANCE_ID = '{{ ecb_ovh_instance_id }}'
WEBIP_OVH_CK_REVERSE = '{{ ecb_ovh_api_ck_reverse }}'

