{% extends site_template_base_name %}

{% load hash campaignclass %}
{% load bootstrap3 %}
{% load dsn %}

{% block headertitle %}{% trans "Campaign" %} {{ campaign.name }}{% endblock %}

{% block base %}
<!-- Modal -->
  <div class="modal fade" id="ip{{ campaign.message.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">{{ campaign.message.name }}</h4>
        </div>
        <div class="modal-body">
          Domaine d'envoi actuel : {{ campaign.message.identity.domain.name }}
          <iframe id="FileFrame" style="width: 100%; height: 800px" src="{% url 'ecbapp-message-view' pk=campaign.message.pk %}"></iframe>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<!-- /Modal -->

<table class="table table-striped table-bordered">
  <tbody>
    <tr>
      <th class="text-center">{% trans "Message"%}</th>
      <th class="text-center">{% trans "List"%}</th>
      <th class="text-center">Envoyés (ECB)</th>
      <th class="text-center">Bouncés</th>
      <th class="text-center">Livrés</th>
      <th class="text-center">Ouverts</th>
      <th class="text-center">Clics</th>
      <th class="text-center">Plage horaire OK ?</th>
      <th class="text-center">{% trans "Status"%}</th>
      <th class="text-center">{% trans "Domaines"%}</th>
      <th></th>
    </tr>
    <tr>
      <td class="text-center"><button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#ip{{ campaign.message.id }}"><span class="glyphicon glyphicon-eye-open"></span></button> {{ campaign.message }}</td>
      <td class="text-center"><a href="{% url 'ecbapp-listitems' %}?list={{ campaign.list.id }}">{{ campaign.list.name }}</a></td>
      <td class="text-center">{{ campaign.stats_sent|default_if_none:'' }}</td>
      <td class="text-center">{{ campaign.stats_bounced|default_if_none:'' }}</td>
      <td class="text-center">{{ campaign.stats_delivered|default_if_none:'' }}</td>
      <td class="text-center">{{ campaign.stats_opened|default_if_none:'' }}</td>
      <td class="text-center">{{ campaign.stats_clics|default_if_none:'' }}</td>
      <td class="text-center">{% if campaign.is_timeperiod %}{% include "ecbapp/partials/check_true.html" %}{% else %}{% include "ecbapp/partials/check_false.html" %}{% endif %}</td>
      <td class="text-center">{% include "ecbapp/partials/text_campaign_status.html" with campaign=campaign %}</td>
      <td class="text-center">
        <table class="table table-striped">
          {% for domain in domains %}
            <tr>
            <td>{{ domain.name }}</td>
            <td><a class="btn btn-primary btn-xs" href="{% url 'ecbapp-spoollogs-d' domainpk=domain.pk %}" >{% trans "Spool Log" %}</a></td>
            <td><a class="btn btn-primary btn-xs" href="{% url 'ecbapp-routinglogs-d' domainpk=domain.pk %}" >{% trans "Routing Log" %}</a></td>
            </tr>
          {% endfor %}
        </table>
      </td>
      <td class="text-center">{% include "ecbapp/partials/text_campaign_btn.html" with campaign=campaign %}</td>
    </tr>
  </tbody>
</table>

Premier message envoyé : {{ date_started_real|date:'j M à H'|default_if_none:'' }}h {{ date_started_real|date:'i'|default_if_none:'' }}

<table class="table table-bordered spoollogs">
  <tr>
    <th></th>
    <th colspan="{{ nbcol }}">&larr; {{ date_started|date:'j M à H' }}h<span class="strongminute">{{ date_started|date:'i' }}</span>
      &nbsp;<a class="btn btn-xs btn-primary" href="{{ current_path }}?start={{ start|add:'-24' }}">-24h</a>
      &nbsp;<a class="btn btn-xs btn-primary" href="{{ current_path }}?start={{ start|add:'-1' }}">-1h</a>
      &nbsp;<a class="btn btn-xs btn-primary" href="{{ current_path }}?start={{ start|add:'1' }}">+1h</a>
      &nbsp;<a class="btn btn-xs btn-primary" href="{{ current_path }}?start={{ start|add:'24' }}">+24h</a>
    </th>
  </tr>
<tr>
  <th></th>
  {% for i in loop_times_th %}
    <th class="text-center">{% if forloop.first %}<span class="strongminute">{% endif %}{{ i }}{% if forloop.first %} </span>{% endif %}</th>
  {% endfor %}
</tr>

<tr><td colspan="{{ nbcol|add:'1' }}">ECB</td></tr>

<tr>
  <td>Envoyés</td>
  {% for i in loop_times %}
    {% with res|get_item:i as campaignlog %}
      <td class="text-center ipstatus {% campaignclass campaignlog statsmin_stats_ecb_sent statsmax_stats_ecb_sent 'stats_ecb_sent' %}">{% campaigntext campaignlog 'stats_ecb_sent' %}</td>
    {% endwith %}
  {% endfor %}
</tr>

<tr>
  <td>Ouverts</td>
  {% for i in loop_times %}
    {% with res|get_item:i as campaignlog %}
      <td class="text-center ipstatus {% campaignclass campaignlog statsmin_stats_ecb_opened statsmax_stats_ecb_opened 'stats_ecb_opened' %}">{% campaigntext campaignlog 'stats_ecb_opened' %}</td>
    {% endwith %}
  {% endfor %}
</tr>

<tr>
  <td>Clics</td>
  {% for i in loop_times %}
    {% with res|get_item:i as campaignlog %}
      <td class="text-center ipstatus {% campaignclass campaignlog statsmin_stats_ecb_clicked statsmax_stats_ecb_clicked 'stats_ecb_clicked' %}">{% campaigntext campaignlog 'stats_ecb_clicked' %}</td>
    {% endwith %}
  {% endfor %}
</tr>

<tr><td colspan="{{ nbcol|add:'1' }}">SMTP</td></tr>

<tr>
  <td>Tout statut confondu</td>
  {% for i in loop_times %}
    {% with res|get_item:i as campaignlog %}
      <td class="text-center ipstatus {% campaignclass campaignlog statsmin_stats_smtp_status statsmax_stats_smtp_status 'stats_smtp_status' %}">{% campaigntext campaignlog 'stats_smtp_status' %}</td>
    {% endwith %}
  {% endfor %}
</tr>

<tr>
  <td>Livrés</td>
  {% for i in loop_times %}
    {% with res|get_item:i as campaignlog %}
      <td class="text-center ipstatus {% campaignclass campaignlog statsmin_stats_smtp_delivered statsmax_stats_smtp_delivered 'stats_smtp_delivered' %}">{% campaigntext campaignlog 'stats_smtp_delivered' %}</td>
    {% endwith %}
  {% endfor %}
</tr>

<tr>
  <td>Reportés</td>
  {% for i in loop_times %}
    {% with res|get_item:i as campaignlog %}
      <td class="text-center ipstatus {% campaignclass campaignlog statsmin_stats_smtp_deferred statsmax_stats_smtp_deferred 'stats_smtp_deferred' %}">{% campaigntext campaignlog 'stats_smtp_deferred' %}</td>
    {% endwith %}
  {% endfor %}
</tr>

<tr>
  <td>Expirés</td>
  {% for i in loop_times %}
    {% with res|get_item:i as campaignlog %}
      <td class="text-center ipstatus {% campaignclass campaignlog statsmin_stats_smtp_expired statsmax_stats_smtp_expired 'stats_smtp_expired' %}">{% campaigntext campaignlog 'stats_smtp_expired' %}</td>
    {% endwith %}
  {% endfor %}
</tr>

<tr>
  <td>Bouncés</td>
  {% for i in loop_times %}
    {% with res|get_item:i as campaignlog %}
      <td class="text-center ipstatus {% campaignclass campaignlog statsmin_stats_smtp_bounced statsmax_stats_smtp_bounced 'stats_smtp_bounced' %}">{% campaigntext campaignlog 'stats_smtp_bounced' %}</td>
    {% endwith %}
  {% endfor %}
</tr>
</table>

Statistiques par code de retour :
<table class="table table-bordered">
  <tr>
    <th>Code de retour</th>
    <th>Nombre de mails</th>
    <th>Signification</th>
  </tr>
{% for dsn_stat in dsn_stats %}
  <tr><td>{{ dsn_stat.smtpd_dsn }}</td><td>{{ dsn_stat.count }}</td><td>{{ dsn_stat.smtpd_dsn|get_dsn }}</td></tr>
{% endfor %}
</table>

{% endblock %}
